<!-- /sections/index-richtext.liquid-->

<div class="homepage-page {{ section.settings.bg }}">
  <div class="wrapper">
    <div class="grid">
      <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
        {% if section.settings.title != '' %}
          <h2 class="home__subtitle">{{ section.settings.title | escape }}</h2>
        {% endif %}
        {% if section.settings.home_page_richtext != blank %}
          <div class="homepage-page__content {{ section.settings.text_align }} rte">
            {{ section.settings.home_page_richtext }}
          </div>
        {% else %}
          <div class="homepage-page__content {{ section.settings.text_align }} rte">
            {{ 'home_page.onboarding.no_content' | t }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Rich text",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Rich Text"
    },
    {
      "id": "home_page_richtext",
      "type": "richtext",
      "label": "Text",
      "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text alignment",
      "default": "align--middle-center",
      "options": [
        { "value": "align--middle-left", "label": "Left"},
        { "value": "align--middle-center", "label": "Center"},
        { "value": "align--middle-right", "label": "Right"}
      ]
    },
    {
      "type": "select",
      "id": "bg",
      "label": "Background color",
      "default": "section",
      "options": [
        { "value": "section", "label": "Default"},
        { "value": "section bg--accent", "label": "Light"},
        { "value": "section--dark", "label": "Dark"},
        { "value": "section--dark bg--accent", "label": "Dark accent"}
      ]
    }
  ],
  "presets": [{
    "name": "Rich text",
    "category": "Text"
  }]
}
{% endschema %}
