<!-- /sections/page.liquid -->
<div data-section-id="{{ section.id }}" data-section-type="page">
  {%- for block in section.blocks -%}
    {%- assign block_page = pages[block.settings.block_page] -%}
    {%- if block_page.handle == page.handle -%}
      {% if block.settings.image %}
        {%- assign img_url = block.settings.image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        <div class="section--image fade-in-child {{ section.settings.palette }}" data-overlay-header>
          <div class="flex-absolute {{section.settings.text_align}}">
            <div class="wrapper">
                <h1 class="title--overlay h2" data-page-image-title>{{ page.title }}</h1>
            </div>
          </div>
          <div class="image-overlay image-overlay-{{ section.settings.overlay_opacity }}"></div>
          {% render 'hero', img_object: block.settings.image, frame_height_class: section.settings.image_height %}
          <noscript>
            <img src="{{ block.settings.image | img_url: '720x' }}" alt="{{ block.settings.image | default: blog.title }}" class="responsive-wide-image"/>
          </noscript>
        </div>
      {% endif %}
    {%- endif -%}
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "Page images",
  "class": "page__template__image",
  "settings": [
    {
      "type": "select",
      "id": "image_height",
      "label": "Image height",
      "default": "use_screen_one_third",
      "options": [
        { "value": "use_screen_full", "label": "Full screen height"},
        { "value": "use_screen_three_quarters", "label": "Three quarters of screen height"},
        { "value": "use_screen_two_thirds", "label": "Two thirds of screen height"},
        { "value": "use_screen_one_half", "label": "One half of screen height"},
        { "value": "use_screen_one_third", "label": "One third of screen height"},
        { "value": "use_pixels_800", "label": "800px" },
        { "value": "use_pixels_650", "label": "650px" },
        { "value": "use_pixels_500", "label": "500px" },
        { "value": "use_image", "label": "Image height"}
      ]
    },
    {
      "type":    "range",
      "id":      "overlay_opacity",
      "min":     0,
      "max":     100,
      "step":    5,
      "label":   "Image overlay opacity",
      "info":    "Increase contrast for legible text.",
      "default": 30
    },
    {
      "type": "select",
      "id": "palette",
      "label": "Text color",
      "default": "palette--contrast--dark",
      "options": [
        { "value": "palette--contrast--dark", "label": "White"},
        { "value": "palette--primary", "label": "Primary accent"},
        { "value": "palette--secondary", "label": "Secondary accent"},
        { "value": " ", "label": "Text color"},
        { "value": "palette--contrast", "label": "Black"},
        { "value": "palette--primary--dark", "label": "Primary dark accent"},
        { "value": "palette--secondary--dark", "label": "Secondary dark accent"},
        { "value": "palette--dark", "label": "Inverted text color"}
      ]
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Alignment",
      "default": "align--middle-center",
      "options": [
        { "value": "align--top-left", "label": "Top left"},
        { "value": "align--top-center", "label": "Top center"},
        { "value": "align--top-right", "label": "Top right"},
        { "value": "align--middle-left", "label": "Middle left"},
        { "value": "align--middle-center", "label": "Absolute center"},
        { "value": "align--middle-right", "label": "Middle right"},
        { "value": "align--bottom-left", "label": "Bottom left"},
        { "value": "align--bottom-center", "label": "Bottom center"},
        { "value": "align--bottom-right", "label": "Bottom right"}
      ]
    }
  ],
  "blocks": [
    {
      "type": "page_image",
      "name": "Page",
      "settings": [
        {
          "label": "Page",
          "id": "block_page",
          "type": "page",
          "info": "Image will only show on this page"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ]
}
{% endschema %}
