<!-- /templates/page.wide.liquid -->

{% section 'page-images' %}

<div class="page__template wrapper pt2 pb4">
  <div class="grid">
    <div class="grid__item one-whole">
     
      <div class="rte">
       
        <div class="bootstrapiso">
         
          <div class="container-fluid">
			
            
            
            
            <div class="row d-flex align-items-center justify-items-center">
				<div class="col-12 col-md-8">
					<img class="img-fluid" src="{{ 'gift1-1.jpg' | asset_img_url: 'master' }}">
				</div>
              	<div class="col-12 col-md-4 text-center">
                  <h1 style="border: 1px solid; display: inline-block; margin: 1rem 0; padding: 1rem;">B+G Gifting</h1>
               	</div>
			</div>
            
            <div class="bg-tan sec pad">
             <div class="row d-flex align-items-center justify-items-center">
				<div class="col-12">
                  <h3 class="text-center">HOW IT WORKS</h3>
                  <p>Gifting is a beautiful way to nourish your soul and lift the spirits of others. Here at Bella+Gaia, we take pride in curating the best luxury gifts the world has to offer. We take the stress of gifting off your hands so you can enjoy the best part, making someone’s day. All we need is a few key details about the lucky recipient and we handle the rest. We hand-pick the perfect collection of gifts, artfully package them, and include a hand-written note with your personal message. We take luxury gifting to unmatched heights.</p>
				</div>
              	 
			</div>
            </div>
            
            
            <div class=" sec">
             <div class="row d-flex align-items-center justify-items-center">
               <div class="col-12 col-md-6" >
                 <div style="background: url('{{ 'gift2.jpg' | asset_img_url: 'master' }}') center center; background-size: cover;">
				<div style="visibility: hidden;" class="pad">	
                 <h3 class="text-center">STEP 1</h3>
                    <p>Let us know a little about the recipient. Fill out our easy form so we can get to work curating the perfect gift. If there’s a particular item you wish to send or include in a gift box, let us know.</p>
               <div class="text-center">
                   <a class="btn--outline btn--large uppercase" href="/products/a-personalized-gift">
                  personalize a gift
                     </a>
                  </div>
                   </div>
                 </div>
				</div>
               
                <div class="col-12 col-md-6">
                  <div class="bg-tan pad">
                    <h3 class="text-center">STEP 1</h3>
                    <p>Let us know a little about the recipient. Fill out our easy form so we can get to work curating the perfect gift. If there’s a particular item you wish to send or include in a gift box, let us know.</p>
                  	                   <div class="text-center">
                    <a class="btn--outline btn--large uppercase" href="/products/a-personalized-gift">personalize a gift </a>
                    </div>       
                  </div>
                  </div>
              	 
			</div>
            </div>
            
            
             <div class=" sec">
              
             <div class="row d-flex align-items-center justify-items-center">
              	<div class="col-12 col-md-6">
                  <div class="bg-tan pad text-center">
                   
                      <h3 class="text-center">STEP 2</h3>
                      <p>Choose from the following options:</p>
                      <p>$125</p>
                      <p>$250</p>
                      <p>$500</p>
                      <p>$750</p>
                      <p>$1250</p>
                    
                  </div>
                  </div>
               <div class="col-12 col-md-6">
                 <div style="background: url('{{ 'gift2.jpg' | asset_img_url: 'master' }}') center center; background-size: cover;">
				<div style="visibility: hidden;" class="pad">	
                 	<h3 class="text-center text-center">STEP 2</h3>
                      <p>Choose from the following options:</p>
                      <p>$125</p>
                      <p>$250</p>
                      <p>$500</p>
                      <p>$750</p>
                      <p>$1250</p>
                   </div>
                 </div>
				</div>
                
              	 
			</div>
            </div>
            
            
            
           <div class=" sec">
             <div class="row d-flex align-items-center justify-items-center">
               <div class="col-12 col-md-6" >
                 <div style="background: url('{{ 'gift3.jpg' | asset_img_url: 'master' }}') center center; background-size: cover;">
				<div style="visibility: hidden;" class="pad">	
                
                       <h3 class="text-center">STEP 3</h3>
                     <p>Leave a note to the recipient. We will hand write your note on luxury paper and send it with your artfully-wrapped gift.

                       
                   </div>
                 </div>
				</div>
               
                <div class="col-12 col-md-6">
                  <div class="bg-tan pad">
               
                         <h3 class="text-center">STEP 3</h3>
                     <p>Leave a note to the recipient. We will hand write your note on luxury paper and send it with your artfully-wrapped gift.

                       
                  </div>
                  </div>
              	 
               
			</div>
            </div>
            
            
            
               <div class=" sec">
             <div class="row d-flex align-items-center justify-items-center">
               
               
                <div class="col-12 col-md-6">
                  <div class="bg-tan pad ">
               
                      <h3 class="text-center">B+G GIFT CARD</h3>
                     <p>
                       Gifting is a beautiful way to nourish your soul and lift the spirits of others. If you cannot decide on a particular product or gift, why not send a B+G Gift Card?
            		</p>
                   <div class="text-center">
                    <a class="btn--outline btn--large uppercase" href="/products/b-g-gift-card">
                  Purchase Gift Card
                     </a></div>
                       
                  </div>
                  </div>
              	 
               <div class="col-12 col-md-6" >
                 <div style="background: url('{{ 'gift3.jpg' | asset_img_url: 'master' }}') center center; background-size: cover;">
				<div style="visibility: hidden;" class="pad">	
                
                       <h3 class="text-center">B+G GIFT CARD</h3>
                     <p>
                       Gifting is a beautiful way to nourish your soul and lift the spirits of others. If you cannot decide on a particular product or gift, why not send a B+G Gift Card?
            		</p>
                  
                       <div class="text-center">
                 <a class="btn--outline btn--large uppercase" href="/products/b-g-gift-card">
                  Purchase Gift Card
                         </a></div></div>
                  
                   </div>
                 </div>
				</div>
               
			</div>
            </div>
            
            
            
         
           
 
 
       
            
		</div>
          
         </div>
      
        </div>
        
        
        
      </div>
    </div>
  </div>
